<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="chat21.android">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity android:name="chat21.android.ui.login.activities.ChatLoginActivity"></activity>

        <activity android:name="chat21.android.ui.login.activities.ChatSignUpActivity"></activity>

        <!--display the contact list-->
        <activity
            android:name="chat21.android.ui.contacts.activites.ContactListActivity"
            android:label="@string/string_contact_list_activity_title">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--display the list of all active conversation-->
        <activity
            android:name="chat21.android.ui.conversations.activities.ConversationListActivity"
            android:label="@string/string_conversation_list_activity_title" />

        <!--&lt;!&ndash;display the list of all messages into a specific conversation&ndash;&gt;-->
        <!--<activity-->
        <!--android:nachat21.android.ui.messages.MessageListActivityvity"-->
        <!--android:parentActivityName=".conversations.activities.ConversationListActivity"-->
        <!--android:windowSoftInputMode="adjustPan">-->

        <!--&lt;!&ndash;http://stackoverflow.com/questions/39663601/open-a-specific-activity-from-firebase-notification&ndash;&gt;-->
        <!--&lt;!&ndash;from notification&ndash;&gt;-->
        <!--&lt;!&ndash;bugfix Issue #39&ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="OPEN_MESSAGE_LIST_ACTIVITY" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:valchat21.android.ui.conversations.activities.ConversationListActivityvity" />-->
        <!--</activity>-->

        <!--&lt;!&ndash;display the list of all messages into a specific conversation&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="chat21.android.ui.messages.activities.MessageListActivity"-->
        <!--android:parentActivityName=".ui.conversations.activities.ConversationListActivity">-->

        <!--&lt;!&ndash;http://stackoverflow.com/questions/39663601/open-a-specific-activity-from-firebase-notification&ndash;&gt;-->
        <!--&lt;!&ndash;from notification&ndash;&gt;-->
        <!--&lt;!&ndash;bugfix Issue #39&ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="OPEN_MESSAGE_LIST_ACTIVITY" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->

        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="chat21.android.ui.conversations.activities.ConversationListActivity" />-->
        <!--</activity>-->

        <!--&lt;!&ndash;display the list of all messages into a specific conversation&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="chat21.android.ui.messages.activities.MessageListActivity"-->
        <!--android:parentActivityName=".ui.conversations.activities.ConversationListActivity">-->

        <!--&lt;!&ndash;http://stackoverflow.com/questions/39663601/open-a-specific-activity-from-firebase-notification&ndash;&gt;-->
        <!--&lt;!&ndash;from notification&ndash;&gt;-->
        <!--&lt;!&ndash;bugfix Issue #39&ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="OPEN_MESSAGE_LIST_ACTIVITY" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--display the list of all messages into a specific conversation-->
        <activity android:name="chat21.android.ui.messages.activities.MessageListActivity">

            <!--http://stackoverflow.com/questions/39663601/open-a-specific-activity-from-firebase-notification-->
            <!--from notification-->
            <!--bugfix Issue #39-->
            <intent-filter>
                <action android:name="OPEN_MESSAGE_LIST_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="chat21.android.ui.messages.activities.ImageDetailsActivity" />

        <activity
            android:name=".ui.groups.activities.CreateGroupActivity"
            android:label="@string/string_create_group_activity_title"></activity>

        <activity
            android:name=".ui.groups.activities.AddMembersActivity"
            android:label="@string/string_add_members_activity_title"></activity>

        <activity android:name=".ui.groups.activities.GroupAdminPanelActivity"></activity>

        <activity
            android:name=".ui.groups.activities.MyGroupsListActivity"
            android:label="@string/activity_group_list_activity_title"></activity>

        <activity
            android:name=".ui.groups.activities.ChooseGroupActivity"
            android:label="@string/activity_group_list_activity_title"></activity>

        <!--display the user profile-->
        <activity android:name=".ui.users.activities.PublicProfileActivity" />

        <!--https://firebase.google.com/docs/notifications/android/console-audience-->
        <service android:name="chat21.android.notifications.ChatFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
        notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!--A service that extends FirebaseInstanceIdService to handle the creation, rotation,
        and updating of registration tokens.
         This is required for sending to specific devices or for creating device groups.-->
        <service
            android:name="chat21.android.instanceid.service.SaveFirebaseInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="chat21.android.connectivity.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
